:root{
  --background: #121f3d;
  --hove-color: #455A8A;
  --color-font: white;
  --color-lihgt: #18CAF0;
  --acepted-color: #19885f;
  --warning-color: #83482d;
  --error-color: #830b39;
}

*{
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  color: var(--color-font);
}

ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

button{
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  margin: 1px;
  color: white;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(221, 221, 221, 0.46); 
box-shadow: 2px 2px 4px 1px rgba(221, 221, 221, 0.46);
}

button:hover{
  cursor: pointer;
  opacity: 0.6;
}

h1{
  text-align: center;
}

main{
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

#grid #keyboard{
  margin: 20px 0;
}

.grid-row{
  display: grid;
  grid-template-columns: repeat(6, 45px);
  grid-gap: 5px 5px;
  margin: 10px 0;
}

.row-item{
  border-radius: 5px;
  width: 40px;
  min-width: 20px;
  height: 40px;
  min-height: 20px;
  padding: 8px 0;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  background-color: var(--hove-color);
}

#keyboard{
  display: grid;
  grid-template-rows: repeat(3, 30px);
  grid-gap: 5px 5px;
}
.row-item-key{
  font-size: 1.5rem;
}
.row-item-key > li >button{
  width: 30px;
  height: 30px;
}
#ent{
  width: 40px;
  background-color: var(--acepted-color);
}
#del{
  width: 50px;
  background-color: var(--error-color);
}
#a{
  margin: 0 0 0 12px ;
}
.gray{
  background-color: var(--error-color);
}

.green{
  background-color: var(--acepted-color);
}

.marron{
  background-color: var(--warning-color);
}

.button-reset{
  margin-top: 20px;
  width: 50px;
}
